<div class="card">
  <%= link_to image_tag(eat.image, class: :card__img ), eat_path(eat.id) %>
  <div class="card__body">
    <%= link_to eat.title, eats_path(eat.id), class: :card__title%>
    <p class="card__summary">
      <%= eat.category %>
    </p>
    <%# <%= link_to "by#{eat.user.name}", user_path(eat.user.id), class: :card__user %> 
  </div>
</div>